{% extends "templates/default/base.html" %}

{% block title %}List - Cliente{% endblock %}
{% block head %}
<link href="{{ base_path }}vendor/footable/css/footable.core.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<h1><b>Cliente - List</b></h1><br>
<table class="table" data-paging="true" data-sorting="true">
    <thead>
    <tr>
        <th data-breakpoints="xs" data-type="number">ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th data-breakpoints="xs">Job Title</th>
        <th data-breakpoints="xs sm" data-type="date" data-format-string="MMMM Do YYYY">Started On</th>
        <th data-breakpoints="xs sm md" data-type="date" data-format-string="MMMM Do YYYY">Date of Birth</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cliente %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.telefone }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.cpf }}</td>
        <td>{{ item.data_nascimento|date("d/m/Y") }}</td>
    </tr>
    {% else %}
      No cliente have been found.
    {% endfor %}
    </tbody>
</table>


<!--


{{ item.cpf }}
{{ item.saldo }}
{{ item.genero }}
{{ item.data_nascimento|date("d/m/Y") }}
{{ item.senha }}
{{ item.token }}
{{ item.status }}
{{ item.data_criacao|date("d/m/Y H:i:s") }}
{{ item.data_alteracao|date("d/m/Y H:i:s") }}
-->

{% endblock %}
{% block javascript %}
<script src="{{ base_path }}vendor/footable/dist/footable.all.min.js"></script>
<script>
    jQuery(function($){
//        $('.table').footable({
//            "showHeader": false,
//            columns: $.get("{{ base_path }}data/columns.json"),
//            rows: $.get("{{ base_path }}data/basic.json")
//        });
        $('.table').footable();
    });
</script>
{% endblock %}
